.login-title {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.user-box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.password-box {
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-quest {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-box {
    margin-right: 200px;
    margin-left: 200px;
}

.signup-title {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

.link-button {
    margin-top: 10px;
    margin-right: 10px;
}

.dl-body {
    margin-top: 30px;
    margin-left: 30px;
}

.blog {
    border-bottom: gray;
    border-bottom-style: solid;
    margin-top: 10px;
    margin-bottom: 1px;
}

.white-text {
    color: white;
}

.jumbotron {
    background-color: rgb(13, 196, 196);
}