{% extends 'traveleverywhere/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
	TravelEverywhere
{% endblock %}

{% block body_block %}
<h1 class="text-center form-title">Add an image to "{{ blog.title }}"</h1>
<div class="form">
    <form id="add_image_form" method='post' action="{% url 'traveleverywhere:add_image' blog.slug %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field|as_crispy_field }}
        {% endfor %}
        <input class="btn btn-primary btn-lg btn-block" type='submit' name='submit' value='Upload' />
    </form>
</div>
{% endblock %}