{% extends 'traveleverywhere/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
	TravelEverywhere
{% endblock %}

{% block body_block %}
<h1 class="text-center form-title">Create a new blog</h1>
<div class="form">
	<form id = 'blog_form' method = 'post' action = "{% url 'traveleverywhere:add_blog' %}">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field|as_crispy_field }}
		{% endfor %}
		<input class="btn btn-primary btn-lg btn-block" type="submit" name="submit" value="Create Blog" />
	</form>
</div>
{% endblock %}