{% extends 'traveleverywhere/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
	TravelEverywhere
{% endblock %}

{% block body_block %}
<div class="jumbotron p-2">
    <h1 class="jumbotron-heading text-center form-title">Ask a question</h1>
</div>
<div class="form">
    <form id='question_form' method='post' action="{% url 'traveleverywhere:add_question' %}">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field|as_crispy_field }}
        {% endfor %}
        <input class="btn btn-primary btn-lg btn-block" type="submit" name="submit" value="Submit Question" />
    </form>
</div>
{% endblock %}