<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		
		<title>
			{% block title_block %}
				TravelEverywhere
			{% endblock %}
		</title>
</head>

<body>
{% csrf_token %}
{% block topnav %}
<div class="topnav">
	<a href="{% url 'traveleverywhere:home' %}">TravelEverywhere</a>
	<a href="{% url 'traveleverywhere:blogs' %}">Blogs</a>
	<a href="{% url 'traveleverywhere:forum' %}">Forum</a>
	<a href="{% url 'traveleverywhere:travel' %}">Travel</a>
	<div class="topnav-right">
		{% if user.is_authenticated %}
			<a href="{% url 'traveleverywhere:logout' %}">Logout</a>
			<a href="{% url 'traveleverywhere:my_account' user.username %}">My Account</a>
		{% else %}
			<a href="{% url 'traveleverywhere:signup' %}">Sign up</a>
			<a href="{% url 'traveleverywhere:login' %}">Login</a>
		{% endif %}
	</div>
</div>
{% endblock %}
	
	<div>
	{% block body_block %}
		Block 'body_block' is empty.
	{% endblock %}
	</div>
	<script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/traveleverywhere-ajax.js' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/traveleverywhere-jquery-dataTable.js' %}" crossorigin="anonymous"></script>
	<script src="{% static 'js/traveleverywhere-bootstrap4-dataTable.js' %}" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="{% static 'css/traveleverywhere-styling.css' %}" type="text/css">
</body>
</html>