<!DOCTYPE html>
{% extends 'traveleverywhere/base.html' %}

{% block title_block %}
	Blogs - TravelEverywhere
{% endblock %}
	
{% block body_block %}
	<div>
		{% if user.is_authenticated %}
			<a href="{% url 'traveleverywhere:add_blog'%}">Create a new blog</a><br />
		{% endif %}
		{% if blogs %}
			<ul>
				{% for blog, blogSummary in blogs %}
				<li>
					<a href="{% url 'traveleverywhere:show_blog' blog.slug %}">{{ blog.title }}</a>
					<p>{{ blogSummary }}</p>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no blogs posted.</strong>
		{% endif %}
	</div>
{% endblock %}