{% extends 'traveleverywhere/base.html' %}

{% block title_block %}
	Forum - TravelEverywhere
{% endblock %}

{% block body_block %}
	<div>
		{% if user.is_authenticated %}
			<a href="{% url 'traveleverywhere:add_question'%}">Ask Question</a><br />
		{% endif %}
		{% if questions %}
			<ul>
				{% for question,ans_count in questions %}
				<li>
					<a href="{% url 'traveleverywhere:show_question' question.slug %}">{{ question.title }}</a>
					<p>{{ ans_count }} answers</p>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no questons present.</strong>
		{% endif %}
	</div>
{% endblock %}