{% extends 'traveleverywhere/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Login - TravelEverywhere
{% endblock %}
	
{% block body_block %}
<h1>Login to TravelEverywhere</h1>
<form id="login_form" method="post" action="{% url 'traveleverywhere:login' %}">
	{% csrf_token %}
	Username: <input type="text" name="username" value="" size="50" />
	<br />
	Password: <input type="password" name="password" value="" size="50" />
	<br />
	<input type="submit" value="Login" />
</form>
<div>
	<p>You don't have an account yet?</p>
	<a href="{% url 'traveleverywhere:signup' %}">Sign up</a>
</div>
{% endblock %}