{% extends 'traveleverywhere/base.html' %}

{% block title_block %}
	TravelEverywhere
{% endblock %}

{% block body_block %}
<div>
    {% if question %}
        {% if user.is_authenticated %} 
            <a href="{% url 'traveleverywhere:add_answer' question.slug %}">Add Answer</a><br/>
        {% endif %}
        <h1>{{ question.title }}</h1>
        <p>{{ question.body }}</p>
        <p>{{ question.user }}</p>
        {% if answers %}
            <ul>
                {% for answ in answers %}
                    <li>{{ answ.text }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No answers currently for the question.</strong>
        {% endif %}
    {% else %}
        The specified question does not exist.
    {% endif %}
</div>
{% endblock %}
