{% extends 'traveleverywhere/base.html' %}

{% block title_block %}
	TravelEverywhere
{% endblock %}

{% block body_block %}
<div>
    {% if blog %}
        {% if user.is_authenticated %}
            {% if blog.user == user %}
                <a href="{% url 'traveleverywhere:add_image' blog.slug %}">Add Image</a><br/>
            {% endif %}
        {% endif %}
        <h1>{{ blog.title }}</h1>
        <div>
            <strong id="like_count">{{ likes }}</strong> likes
            {% if user.is_authenticated %}
                <button id="like_btn" data-blogid="{{ blog.id }}" 
                    class="btn btn-primary btn-sm {% if liked_bool %} disabled {% endif %}" 
                    type="button">
                    Like Blog
                </button>
            {% endif %}
        </div>
        <p>{{ blog.body|linebreaks }}</p>
        <p>{{ blog.user }}</p>
        <p>{{ blog.publish_date }}</p>
        <p>{{ blog.location_country }}</p>
        <p>{{ blog.location_city }}</p>
        <p>{{ blog.location_place }}</p>
        {% if images %}
            <ul>
                {% for image in images %}
                    <img src="{{ image.image.url }}" />
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        The specified blog does not exist.
    {% endif %}
</div>
{% endblock %}