{% extends 'traveleverywhere/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Sign Up - TravelEverywhere
{% endblock %}
	
{% block body_block %}
<div class="jumbotron p-2">
    <div class="container">
        <h1 class="jumbotron-heading signup-title text-center">Sign up for TravelEverywhere</h1>
    </div>
</div>
{% if registered %}
    <div class="mx-auto" style="width: 500px;">
        <h2>Thank you for signing up!</h2></br>
        <a href="{% url 'traveleverywhere:home' %}">Return to homepage.</a><br />
    </div>
{% else %}
    <div class="container w-50 mx-auto">
        <div class="row">
            <div class="form-group">
                <form role="form" id="user_form" method="post" action="{% url 'traveleverywhere:signup' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}