{% extends 'traveleverywhere/base.html' %}

{% block title_block %}
	Travel - TravelEverywhere
{% endblock %}

	
{% block body_block %}
<div>
	{% if airlines %}
		<ul>
			{% for airline in airlines %}
				<li>
					<a href="{{ airline.link }}">{{airline.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no airlines to show.</strong>
	{% endif %}
</div>
<div>
	{% if agencies %}
		<ul>
			{% for agency in agencies %}
				<li>
					<a href="{{ agency.link }}">{{agency.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no agencies to show.</strong>
	{% endif %}
</div>
<div>
	{% if websites %}
		<ul>
			{% for website in websites %}
				<li>
					<a href="{{ website.link }}">{{website.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no websites to show.</strong>
	{% endif %}
</div>
{% endblock %}