{% extends 'traveleverywhere/base.html' %}

{% block title_block %}
	Travel - TravelEverywhere
{% endblock %}

	
{% block body_block %}
<div>
	{% if airlines %}
		<ul>
			<p>Top Airlines</p>
			<table id="airline" class="table table-striped table-bordered" style="width:30%">
				<thead>
					<tr>
						<th>Airline</th>
						<th>Rating</th>
						<!-- <th>Like</th>
						<th>Dislike</th> -->
					</tr>
				</thead>
				<tbody>
					{% for airline in airlines %}
						<tr>
							<td><a href="{{ airline.link }}">{{airline.name}}</a></td>
							<td>5</td>
							<!-- <td><script>computeRating(airline.likes, airline.dislikes)</script></td> -->
							<!-- <td></td> -->
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
		</ul>
	{% else %}
		<strong>There are no airlines to show.</strong>
	{% endif %}
</div>
<div>
	{% if agencies %}
		<ul>
			<p>Top Agencies</p>
			{% for agency in agencies %}
				<li>
					<a href="{{ agency.link }}">{{agency.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no agencies to show.</strong>
	{% endif %}
</div>
<div>
	{% if websites %}
		<ul>
			<p>Top Booking websites</p>
			{% for website in websites %}
				<li>
					<a href="{{ website.link }}">{{website.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<strong>There are no websites to show.</strong>
	{% endif %}
</div>
{% endblock %}